/ {
	chosen {
		zephyr,sdmmc-disk = &sdhc0;
		zephyr,display = &lcd0;
	};
};

&spi1 {
	status = "okay";
	cs-gpios = <&gpiob 4 GPIO_ACTIVE_LOW>, <&gpioc 9 GPIO_ACTIVE_LOW>, <&gpiob 5 GPIO_ACTIVE_LOW>;

	sdhc0: sdhc@0 {
			compatible = "zephyr,sdhc-spi-slot";
			reg = <0>;
			status = "okay";
			mmc {
				compatible = "zephyr,sdmmc-disk";
				status = "okay";
			};
			spi-max-frequency = <DT_FREQ_M(24)>;
	};

	lcd0: lcd@1 {
		compatible = "ilitek,ili9488";
		reg = <1>;
		status = "okay";
		spi-max-frequency = <DT_FREQ_M(2)>;
		height = < 320 >;
		width = < 480 >;
		cmd-data-gpios = < &gpioa 8 GPIO_ACTIVE_LOW >;
		reset-gpios = < &gpioc 7 GPIO_ACTIVE_LOW >;
		duplex = <2048>;
	};
};

&gpioc {
	lcd-backlight {
		gpio-hog;
		gpios = <6 GPIO_ACTIVE_HIGH>;
		output-high;
	};
};
